secrets
ca
**/certs
**/log
**/logs
**/backup
grafana/grafana.db
unifi/**
!unifi/data/db/previous_version
!unifi/data/db/version
!unifi/data/system.properties
grafana/plugins
grafana/csv
grafana/pdf
grafana/png
hassio/**
!hassio/config
!hassio/config/automations.yaml
!hassio/config/scenes.yaml
!hassio/config/scripts.yaml
!hassio/config/configuration.yaml
grafana_data
prometheus_data
